target

# mvn hpi:run
work

# IntelliJ IDEA project files
*.iml
*.iws
*.ipr
.idea

# Eclipse project files
.settings
.classpath
.project

# Disable github worflow
.github/release-drafter.yml
.github/workflows/release-drafter.yml

# Ignore resource bundle Messages
Messages.java
test.groovy
.data
